{%include "../../includes/header.inc"%}
    <div class="container-fuild">
      <h1>Instances of {{lodspk.args.arg0}}</h1>
        <ul>
    {% for row in models.main %}
        <li><a href="{{ row.uri.value }}">{% if row.name.value %}{{row.name.value}}{% else %}{{ row.resource.curie }}{% endif %}</a></li>
    {% endfor %}
    </ul>
   </div>
  </body>
</html>
