{%include "../../includes/header.inc"%}
  
<div class="container">
  <div class="page-header">
    <h1>Licenses <small></small></h1>
  </div>
  <ul>
    {% for row in models.main %}
        <li><a href="{{ row.uri.value }}">{% if row.name.value %}{{row.name.value}}{% else %}{{ row.uri.curie }}{% endif %}</a></li>
    {% endfor %}
  </ul> 

</div>

{%include "../../includes/footer.inc"%}
