{%include "../../includes/header.inc"%}
    <div class="container">
      <div class="page-header">
        <h1>Classes available</h1>
      </div>
      <ul>
      {% for row in models.main %}
          <li><a href="{{lodspk.baseUrl}}instances/{{ row.resource.curie }}">{{row.resource.curie}}</a></li>
      {% endfor %}
      </ul>
    </div>
{%include "../../includes/footer.inc"%}
