{%include "../../includes/header.inc"%}
    <div class="container">
      
      <div class="page-header">
         <h1>Named graphs available</h1>
      </div>
     
      {%if first.main.g%}
          <ul>
        {% for row in models.main %}
            <li>{{row.g.value}}</li>
        {% endfor %}
          </ul>
      {%else%}
        <div class="alert alert-info">
          <p>No named graphs found</p>
        </div>
      {%endif%}
      
    </div>
  </body>
</html>
